.results {
  position: absolute;
  cursor: pointer;
  width: 80vw;
  top: 39%;
  background: #fff;
  @media screen and (min-width: 1024px) {
    width: 40rem;
    top: 100%;
  }
  &__result {
    padding: 0.25rem;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid #d9d9d9;
    &:first-child {
      border-top: 1px solid black;
    }
    &:last-child {
      border-bottom: 1px solid black;
    }
    &:hover {
      background: #d7e6f7;
    }
  }
}
